.container-fluid {
  background-color: #f8f9fa;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0 0;
  border-bottom: 1px solid #e9ecef;
  border-top: 1px solid #e9ecef;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.galeree {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  /* margin-left: 1rem; */
}